PORT=3000
CORS_ORIGIN=*# add frontend url to make it more secure
ACCESS_TOKEN_EXPIRY=1d
ACCESS_TOKEN_SECRET=U0UISX750wwX9YRBf7tH6V7zLfjDd8r6yoey1qgHjWA=
REFRESH_TOKEN_EXPIRY=10d
REFRESH_TOKEN_SECRET=vc5cGTEmPANzNBzo/VJerpTN6YsBDkRERRXyzyG4BvI=
CLOUDINARY_CLOUD_NAME=dr6bk3tq9
CLOUDINARY_API_KEY=656234336856614
CLOUDINARY_API_SECRET=mpugMZyC_QrSf7wzWd3Hlen-O1o
NODE_ENV=development # or production
DATABASE_URL=
DB_USER=postgres
DB_PASS=postgres
DB_NAME=viztube

MAX_TRANSCRIPT_DURATION=120
AI_WORKER_URL=http://localhost:8000