PORT=3000
CORS_ORIGIN=*# add frontend url to make it more secure
ACCESS_TOKEN_EXPIRY=1d
ACCESS_TOKEN_SECRET=U0UISX750wwX9YRBf7tH6V7zLfjDd8r6yoey1qgHjWA=
REFRESH_TOKEN_EXPIRY=10d
REFRESH_TOKEN_SECRET=vc5cGTEmPANzNBzo/VJerpTN6YsBDkRERRXyzyG4BvI=
CLOUDINARY_CLOUD_NAME=dr6bk3tq9
CLOUDINARY_API_KEY=656234336856614
CLOUDINARY_API_SECRET=mpugMZyC_QrSf7wzWd3Hlen-O1o
NODE_ENV=development # or production
DATABASE_URL=postgresql://neondb_owner:npg_ZeuD7zoCF8AN@ep-dark-darkness-aoh8ddp4-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&schema=public
DB_USER=postgres
DB_PASS=postgres
DB_NAME=viztube
COMPOSE_FILE=docker-compose.dev.yml #comment this line when in prod