name: Deploy Docker to EC2

on:
  push:
    branches:
      - master

jobs:
  # build job
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: nishant100606/viztube:latest

  # deploy job
  deploy-to-ec2:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Go to the folder
            cd viztube

            # 2. Stop the old container (if running)
            docker compose down

            # 3. Pull the shiny new image we just built
            docker compose pull

            # 4. Start it up in the background
            docker compose up -d

            # 5. Clean up old junk to save space
            docker image prune -f
