- name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          # 1. Load NVM (Node Version Manager) explicitly
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

          cd ~/VizTube
          
          # 2. Pull from MASTER, not main
          git pull origin master
          
          # 3. Now these commands will work
          npm install
          npx prisma generate
          npx tsc --noEmitOnError false
          pm2 restart viztube
